*
{
    margin: 0px;
    border: border-box;
    /* font-family: "Roboto"; */
    font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* logo */

.nav-logo
{
    height: 60px;
    width: 100px;
    padding-top: 5px;
}

.header-logo
{
    background-image: url("Photos/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.border
{
    border: 1px solid transparent;
    border-radius: 4px;
}

.border:hover
{
    border: 1px solid white;
    cursor: pointer;
}

/* address */

.nav-address
{
    height: 60px;
    width: 70px;
    margin-right: 20px;
}

.nav-address-grid
{
    height: 50px;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    display: grid;
    grid-template-columns: 18px 1fr;
}

.location
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-location-dot
{
    padding-top: 9px;
}

.address
{
    display: grid;
    grid-template-columns: 1fr;
}

.deliver
{
    font-size: 12px;
    color: #cccccc;
    align-self: end;
}

.country
{
    font-size: 14px;
    font-weight: bold;
}

/* search bar */
.nav-search
{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 850px;
    background-color: pink;
    border: 2px solid transparent;
    border-radius: 5px;
}

.nav-search:hover
{
    border: 2px solid #FF9900;
}

.search-select
{
    background-color: #e6e6e6;
    color: #555555;
    width: 60px;
    border: 1px solid #cdcdcd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.search-select:hover
{
    background-color: #d4d4d4;
    cursor: pointer;
    color: black;
}

.search-input
{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon
{
    width: 55px;
    display: flex;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-icon:hover
{
    background-color: #F3A847;
    cursor: pointer;
}

/* language */

.nav-lang
{
    width: 70px;
    height: 35px;
    display: flex;
    padding: 10px 0px 10px 5px ;
    align-items: end;
    justify-content: center;
}

.flag
{
    height: 35px;
    width: 25px;
    background-image: url(Photos/united-states.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lang-select
{
    width: 40px;
    height: 35px;
    background-color: #0f1111;
    border: none;
    font-size: 13px;
    color: #ffffff;
}

/* sign-in */

.nav-signin
{
    padding: 10px;
}

.nav-first
{
    font-size: 12px;
}

.nav-second
{
    font-size: 14px;
    font-weight: 700;
}

/* returns  & orders */

.nav-returns
{
    padding: 10px;
}

/* cart */

.nav-cart i
{
    font-size: 32px;
}

.nav-cart
{
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

/* panel */

.panel
{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #222f3d;
    color: white;
    font-size: 14px;
}

.panel-options a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.all i
{
    font-size: 18px;
}

.all
{
    margin-left: 20px;
    padding: 10px;
    font-weight: 700;
}

/* MIDDLE SECTION */

.middle-section
{
    background-image: url(Photos/middle_image.jpg);
    background-size: cover;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.middle-message
{
    font-size: 14px;
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin-bottom: 20px;
}

.middle-message a 
{
    color: #007185;
    text-decoration: none;
}

/* shop section */

.shop-section
{
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    background-color: #4B03BF;
}

.box
{
    height: 375px;
    background-color: white;
    padding: 25px 20px 15px 20px;
}

.box h2
{
    color: #0f1111;
}


.box-img
{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0 20px 0;
}

.box a
{
    font-size: 13px;
    color: #007185;
    text-decoration: none;
}


/* footer */

.foot-panel1
{
    height: 50px;
    background-color: #37475A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.foot-panel1:hover
{
    background-color: #485769;
    cursor: pointer;
}

.foot-panel2
{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul
{
    list-style-type: none;
    padding-top: 40px;
}

.foot-panel2 ul p
{
    font-size: 16px;
    padding-bottom: 4px;
    padding-top: 6px;
}

.foot-panel2 ul a
{
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
}

.foot-panel2 ul li
{
    margin-bottom: 10px;
}

.foot-panel2 ul a:hover
{
    text-decoration: underline;
}

.foot-panel3
{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    background-image: url("Photos/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.foot-panel4
{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 12px;
    text-align: center;
}

.foot4-pages
{
    padding-top: 25px;
}

.foot4-pages a
{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.foot4-pages a:hover
{
    text-decoration: underline;
}

.foot4-copyright
{
    padding-top: 5px;
}